<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
    <title>Flask app</title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    {% block content %}
    <img src="https://i.imgur.com/LsqGvcq.png">
    <br>
    <img src="https://i.imgur.com/ZjydUb4.png">

    <form action="{{ url_for('handle_data') }}" method="post">
      <select name="language" size="4" multiple>
      <option value="fr">French</option>
      <option value="de">German</option>
      <option value="es">Spanish</option>
      <option value="ja">Japanese</option>
      </select>
      <br>
    <input type="text" name="imgurl">
    <input type="submit">

    <p>
    <A HREF="upload-image">Upload an image instead.</A>
    </p>
    </form>

    {% endblock %}
  </body>
</html>